body {
  background-color: #0f172a !important;
}

.rs-picker {
  width: 100%;
}

.rs-picker-daterange>.rs-input-group.rs-input-group-inside .rs-input{
  border-radius: 5px 0 0 5px;
}

.rs-btn-primary{
  background-color: var(--rs-btn-primary-bg) !important;
}